@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
	color: black;
}

.ReactCollapse--collapse {
	transition: height 500ms;
}

.gradient-01 {
	background-color: #73b01d64;
	filter: blur(125px);
}
